*{
    /* outline: 2px solid black; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body{
    background-color: rgb(183,68,172);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 250px;

}


.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 14px;
    padding-top: 35px;
    border-radius: 16px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.423);
}

.container h2{
    /* padding: 30px 100px; */
    font-size: 35px;
}

.head{
    display: flex;
    justify-content: end;
    gap: 40px;
}

.head-cross{
    margin-right: 12px;
}

.cross{
    text-decoration: none;
    padding-right: 8px;
}

.opt-form{
    display: flex;
    text-align: center;
    margin: 18px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;


}

.opt-form a{
    flex: 1;
    padding: 12px;
    font-size: 22px;
    border-radius: 10px;
    gap: 0;
    text-decoration: none;
}

.login{
    background-color: rgb(183,68,172);
    color: white;
}


.signup{
    /* background-color: rgb(183,68,172); */
    color: black;
}


.input-field{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

input{
    font-size: 22px;
    padding: 14px;
    border-radius: 8px;
    margin: 0px 18px;
    color: rgba(0, 0, 0, 0.551) ;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

.frg-pass{
    color: rgb(183,68,172);
    margin: 0px 20px;
    margin-top: 10px;
}


.log-btn{
    margin-top: 12px;
    display:flex ;
    justify-content: center;
    font-size: 25px;
}


.log-btn a{
    text-decoration: none;
    color: white;
    background-color: rgb(183,68,172);
    padding: 10px 38%;
    border-radius: 10px;
}

.not-mem{
    text-align: center;
    margin: 12px;
    margin-top: 28px;
    font-size: 18px;
    margin-bottom: 28px;
}
.not-mem a{
    color: rgb(183,68,172);
    text-decoration: none;
    font-size: 20px;

}